DATABASE_URL=postgresql://postgres:postgres@localhost:5432/dev
BASE_URL=http://localhost:8000
WEB_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:8000/trpc
NODE_ENV=development
EMAIL_USER=your-gmail-address@gmail.com
EMAIL_PASS=your-gmail-app-password
EMAIL_FROM="FlowForm <your-gmail-address@gmail.com>"
